<%- include("partials/header") %>

<div class="container">
  <div class="row">
	  <div class="col-sm">
      <h4>PERSONAL PROFILE</h4>
		<p>I'm a person highly motivated to learn new things. Last year I took a  part of the project “Melinda chatbot” as a knowledge master and in that time I discover new world for me: “Programing”. 				Immediately I stated with my first JavaScript course. I think I will became a really good developer if I have chance to be, because I have passion and motivation to learn. I am strongly 					organized and I am person who complete all the tasks until the end. I am currently seeking a permanent position in Software Company with forward-thinking and well-established companies in 				Bulgaria that will allowed me to work on variety of new projects to develop myself. I know that career swich is really hard, but I am ready to for my new career journey.</p>
    </div>
    <div class="col-sm">
      <h4></h4>
		<img src="https://images.unsplash.com/photo-1582465754584-7d8e3142506d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80" class="img-fluid rounded" alt="Responsive image">
		<h4>AREAS OF EXPERTISE</h4>
		<p>I've worked with various types of projects and have mastered: preparation of bid documentation, preparation of data bases for chatbots, organize CEO shedules and bussiness trips.</p>
    </div>
    <div class="col-sm">
     
	<h4>PERSONALL SKILLS</h4>
		<ul>
			<li>Languages:  Bulgarian(Native),  English(B2),  Portuguese(A1);</li>
			<li>Ability to manage and protect sensitive and confidential information;</li>
			<li>Very good logical, analytical and problem solving skills;</li>
			<li>Ability to foster, trusting relationships with colleagues and customers;</li>
			<li>High level knowledge in MS Office ( Excel, Word, Outlook, Power Point);</li>
			<li>Excellent experience with Register Agency, Commercial register and Commission forPersonal Data Protection;</li>
			<li>High level of planning and organizations skill;</li>
			<li>Proactive personality;</li>
			<li>Able to work under pressure.</li>
		</ul>
    </div>
  </div>
</div>

<%- include("partials/footer") %>