<%- include("partials/header") %>
<h4 id ="contacts">CONTACT INFO:</h4>
<div class="container">	
  <div class="row">
	  <div class="col-sm">
      <p><i class="fas fa-mobile-alt"></i><br> +359885991102</p>
    </div>
    <div class="col-sm">
      <p><i class="far fa-envelope"></i><br> violina.nakova@yahoo.com</p>
    </div>
    <div class="col-sm">
     <p><i class="fas fa-street-view"></i><br> Sofia, Bulgaria</p>
    </div>
</div>
	<div class="row">
	  <div class="col-sm">
      <p><i class="fab fa-github-square"></i><br><a href="https://github.com/nakova?tab=repositories" class="stretched-link">Github</a></p>
    </div>
    <div class="col-sm">
		<p><i class="fab fa-linkedin"></i><br><a href="https://www.linkedin.com/i n/violina-nakova- 31364895/" class="stretched-link">Violina Nakova</a></p>
    </div>
    <div class="col-sm">
     <p><i class="fab fa-skype"></i><br> violina.nakova1</p>
    </div>
  </div>
</div>


<%- include("partials/footer") %>