<%- include("partials/header") %>

<div class="container">
  <div class="row">
	  <div class="col">
      <h4>COURSES AND TRAININGS</h4>
		<ul>
			<li><b>Master JavaScript:</b></li>
			<p>
				Real Projects, challenges, quizzes, JavaScript ES6+, OOP, AJAX, Babel, Webpack.
			</p>
			<li><b>Web Development bootcamp:</b></li>
			<p>
			Throughout the course we cover tons of tools and technologies including: HTML5, CSS3, JavaScript, Bootstrap 4, SemanticUI, DOM Manipulation, jQuery, Unix(Command Line) Commands, NodeJS,     NPM, ExpressJS, REST, MongoDB, Database Associations, Authentication, PassportJS, Authorization.		
			</p>
			<li><b>JavaScript Algorithms and Data Structures Masterclass:</b></li>
			<p>
				Big O notation, Recursion, Searching and Sorting Algoritms (Bubble, Selection, Insertion, Quick, Merge, and Radix Sort), Data Structures(linked lists, trees, heaps, hash tables, and graphs), Dijkstra's Shortest Path Algorithm.  The course also includes an entire section devoted to Dynamic Programming.
			</p>
			<li><b>The Modern Javascript Bootcamp Course (2020)</b></li>
		</ul>
      	<h4>EDUCATIONAL HISTORY</h4>
		<ul>
			<li><b>INTERNATIONAL BUSINESS SHOOL BOTEVGRAD| Master’s degree – Tourism Management November 2011- February 2013</b></li>
			<p>
				- Management;<br>
				- Quality systems ( ISO certification);<br> 
				- Tourism development;<br>
				- Management of European Projects<br>
			</p>
			<li><b>INTERNATIONAL BUSINESS SHOOL BOTEVGRAD| Bachelor’s degree – Business administration
				September 2007- October 2011</b></li>
			<p>
				- Management;<br> 
				- Marketing;<br> 
				- Economics;<br>
				- Corporate finance;<br>
				- Corporate law;<br>
				- Accounting;<br>
			</p>
		</ul>
    </div>
    <div class="col">
     <h4>PROFESSIONAL HISTORY </h4>
		<ul>
			<li><b>SIRMA GROUP HOLDING JSC | Knowledge master and Office manager | November 2015 -untill now</b></li>
			<p>
				- Collect, check, translate database for different chatbots;<br>
				- Train chatbot with current database;<br>
				- Check for bugs and if there is bugs, give tasks to the developer's team;<br>
				- Make schedules and arrangements for meetings and coordinate them;<br>
				- Preparation of confidential documentation  such as contracts, policies, books, administrative and legal registers, etc.;<br>
				- Manage and protect sensitive and confidential information;<br>
				- Prepares presentations, reports and inquiries; Organize business trips;<br>
				- Prepares presentations, reports and inquiries; Taking part in organization of company events, etc.<br>
			</p>
			<li><b>NORD HOLDING JSC | Оffice manager | July 2014- November 2015</b></li>
			<p>
				- Preparing auction(bid) documents;<br>
				- Preparation of confidential documentation such as contracts, policies, books, administrative and legal registers, etc.;<br>
				- Communication with business partners and consulting potential customers;<br>
				- Manage and protect sensitive and confidential information;<br>
				- Anticipate and understand CEO's needs;<br>
				- Prepares presentations, reports and inquiries; Preparing monthly expense reports;<br> 
				- Making proposals for cost optimization;<br>
				- Working with Commercial Register of Bulgaria –different references;<br>
			</p>
			<li><b>TOTAL QUALITY MANAGEMENT LTD. | Sales and Marketing Specialist | October 2012 –  July 2014</b></li>
			<p>
				- Actualization of data bases;<br>
				- Call and meet potential business customers;<br>
				- Consulting customers and giving information about International standards: ISO 9001, ISO 14 001, OHSAS 18 001, HACCP, SPK, CE;<br>
				- Preparation of contracts and other business documents.<br>
			</p>
			<li><b>SILUET 8 LTD. | CEO assistant | May 2009 - February 2013</b></li>
			<p>
				- Lead team of 6 tailors, when the CEO is on bussiness trip;<br>
				- Separate tasks;<br>
				- Consulting, meet business partners and customers.
			</p>
			
		</ul>
    </div>
  </div>
</div>


<%- include("partials/footer") %>