<%- include("partials/header") %>
<div class="jumbotron">
  <h1 class="display-4">Violina Nakova</h1>
  <p class="lead">If you are looking for highly motivated person, ready for fresh career start - <em>IT IS ME!</em></p>
  <hr class="my-4">
  <p>I am ready to turn my career in 360 degrees and dive deeper in the Programing world. </p>
</div>

<div class="container-fluid">
	<div>
		<h3 class="text-center" style="margin-bottom: 100px">
		   I have experience with following technologies:	
	    </h3>
	</div>
	
          <div class="d-flex flex-row flex-wrap justify-content-center">
              <div class="d-flex flex-column">
                  <img src="https://miro.medium.com/max/1200/1*ZkqMAO9Sa_M-31WAhgHUYQ.png" class="img-fluid">
                  <img src="https://www.optimum7.com/wp-content/uploads/2013/04/CSS3.png" class="img-fluid">
              </div>
              
              <div class="d-flex flex-column">
                  <img src="https://browsergameita.com/images/bootstrap-logo-transparent.png" class="img-fluid">
                  <img src="https://cdn-images-1.medium.com/fit/t/1600/480/1*iDvsmUwzZQxJSKdL0xzwIA.png" class="img-fluid">
                  <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/nodejs-1-logo.png" class="img-fluid scale">
              </div>
              
              <div class="d-flex flex-column">
                  <img src="https://www.jeffreysummers.me/assets/images/logo-bulma.png" class="img-fluid scale mb-2">
                  <img src="https://cms-assets.tutsplus.com/uploads/users/1251/posts/26481/preview_image/PaperJS.jpg"  class="img-fluid">
				  <img src="https://webassets.mongodb.com/_com_assets/cms/mongodb_logo1-76twgcu2dm.png"  class="img-fluid">
              </div>
      
              <div class="d-flex flex-column">
				  <img src="https://i.ya-webdesign.com/images/vector-javascript-1.png" class="img-fluid m-1 p-1">
				  <img src="https://vegibit.com/wp-content/uploads/2018/05/expressjs.png" class="img-fluid image m-1 p-1">
				  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png" class="img-fluid image m-1 p-1">
				  
              </div>
          </div>
      </div>

<%- include("partials/footer") %>